parameters:
    ldap_host: {{ slapd_host }}
    ldap_port: 389
    ldap_bind_rdn: ''
    ldap_bind_pw: ''
    ldap_base_dn: '{{ slapd_basedn }}'
    ldap_ssl: true
    domain: example.org
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
    trusted_proxies: null
    database_driver: 'pdo_mysql'
    database_path: null
    database_host: 'mysql'
    database_port: null
    database_name: "cloudadmin"
    database_user: "cloudadmin"
    database_password: "{{ lookup( 'file', secret + '/mariadb/db/credentials/cloudadmin/password' ) }}"
