parameters:
    ldap_host: {{ slapd_host }}
    ldap_port: 389
    ldap_bind_rdn: '{{ lenticular_admin__ldap_bind_dn }}'
    ldap_bind_pw: '{{ lenticular_admin__ldap_bind_pw }}'
    ldap_base_dn: '{{ slapd_basedn }}'
    ldap_ssl: true
    domain: '{{ ansible_domain }}'
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
    trusted_proxies: null
    database_driver: 'pdo_mysql'
    database_path: null
    database_host: '{{ lenticular_admin__database_server }}'
    database_port: null
    database_name: "{{ lenticular_admin__database_user }}"
    database_user: "{{ lenticular_admin__database_name }}"
    database_password: "{{ lenticular_admin__database_password }}" 
