#!/bin/bash

# {{ ansible_managed }}

# Reload or restart seafile on a certificate state change

set -o nounset -o pipefail -o errexit

seafile_config="/etc/seafile/seafile.conf.lua"
seafile_action="{{ seafile_pki_hook_action }}"

# Check if current PKI realm is used by the 'seafile' webserver
certificate=$(grep -r "${PKI_SCRIPT_DEFAULT_CRT:-}" ${seafile_config} || true)

# Get list of current realm states
states=( $(echo "${PKI_SCRIPT_STATE:-}" | tr "," " ") )

if [ -n "${certificate}" -a "${{ '{#' }}states[@]}" -gt 0 ] ; then

    for state in "${states[@]}" ; do

        if [ "${state}" = "changed-certificate" -o "${state}" = "changed-dhparam" ] ; then

            # Check if current init is systemd
            if $(pidof systemd > /dev/null 2>&1) ; then

                seafile_state="$(systemctl is-active seafile.service)"
                if [ ${seafile_state} = "active" ] ; then
                    if $(/usr/sbin/seafile -c ${seafile_config} -t > /dev/null 2>&1) ; then
                        systemctl ${seafile_action} seafile.service
                    fi
                fi

            else
              #TODO
            fi

            break
        fi

    done

fi
